body {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;

    background-color: black;

    overflow: hidden;
}

* {
    box-sizing: border-box;
}

#root {
    height: 100%;
}

#canvas {
	position: absolute;
	top: 0;
	left: 0;
	
	width: 100%;
	height: 100%;
}

.ui {
    position: relative;

    width: 100%;
    max-width: 960px;
    height: 100%;
    margin: 0 auto;

    color: white;
}

.ui__background {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background: rgba(0, 0, 0, 0.9);

    opacity: 0;
}

.ui__progress {
    position: absolute;
    left: 0;
    bottom: 0;

    width: 100%;
    height: 4px;

    .ui__progress__fill {
        position: absolute;
        top: 0;
        left: 0;
        
        width: 100%;
        height: 100%;
    
        background-color: white;
        transform: scaleX(0);
        transform-origin: 0 100%;
    }
}

.ui__section {
    position: absolute;
    top: 0;
    left: 0;
        
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
}

.intro__logo {
    position: relative;

    margin-bottom: 64px;

    pointer-events: none;
    
    img {
        display: block;
        width: 100%;
        margin: 0 auto;

        @media screen and (max-width: 1280px) {
            width: 80%;
        }
    }
}

.intro__baseline {
    position: absolute;
    right: 14%;
    bottom: 23%;

    font-size: 22px;

    transform: rotate(-12deg) skewX(-20deg);

    @media screen and (max-width: 960px) {
        font-size: 18px;
    }

    @media screen and ( max-width: 750px ) {
        font-size: 15px;
    }

    @media screen and ( max-width: 550px ) {
        font-size: 13px;
    }

    @media screen and ( max-width: 400px ) {
        font-size: 10px;
    }
}

.intro__action {
    position: absolute;
    bottom: 16%;
    left: 0;

    width: 100%;

    text-align: center;

    pointer-events: none;
}

$skew: -20deg;

.action__label {
    position: relative;
    
    display: inline-block;
    // display: none;
    padding: 14px 40px;
    
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    line-height: 140%;

    &:before, &:after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;

        width: 100%;
        height: 100%;

        transform: skewX($skew);
    }

    &:before {
        // background: white;
        // transform: skewX($skew) scaleX(0.01);
        // transform-origin: 0;

        // transition: transform 0.3s ease;
    }

    &:after {
        // background: linear-gradient(to right, rgba(255,255,255,0.0) 0%, rgba(255,255,255,0.3) 50%,rgba(255,255,255,0) 100%);
    }

    &:hover {
        &:before {
            transform: skewX($skew) scaleX(1);
        }    
    }

    .action__fill {
        position: absolute;
        top: 0;
        left: 0;

        opacity: 0;

        width: 100%;
        height: 100%;

        background: white;
        transform-origin: 0;
        transform: skewX($skew) scaleX(0.01);
    }
    
}

.ui__section--tuto {
    opacity: 0;
    transform: scale(0.9);
}

.tuto__line {
    display: flex;
    margin: 32px 54px;

    align-items: center;

    &:first-of-type {
        justify-content: flex-start;
    }

    &:last-of-type {
        justify-content: flex-end;
    }

    @media screen and ( max-width: 1280px ) {
        margin: 25px 44px;
    }
}

.tuto__title {
    margin-bottom: 32px;
    
    letter-spacing: 0.05em;
    text-align: center;
    text-transform: uppercase;

    @media screen and ( max-width: 1280px ) {
        margin-bottom: 25px;
    }
}

.tuto__key {
    position: relative;

    width: 55px;
    height: 55px;
    margin: 0 7px;

    border: 2px solid white;

    &:first-of-type {
        margin-left: 22px;
    }

    &:last-of-type {
        margin-right: 22px;
    }

    @media screen and (max-width: 1280px) {
        width: 45px;
        height: 45px;
        margin: 0 5px;
    }
}

.tuto__key--space {
    width: 360px;

    @media screen and ( max-width: 1280px ) {
        width: 320px;
    }
}

.tuto__letter {
    display: block;
    margin: 8px;

    font-size: 26px;
    line-height: 26px;

    @media screen and ( max-width: 1280px ) {
        font-size: 18px;
        line-height: 18px;
    }
}

.ui__help {
    position: absolute;
    top: 45px;
    right: 45px;

    display: block;
    width: 45px;
    height: 45px;
    
    color: white;
    font-size: 22px;
    text-align: center;
    line-height: 42px;

    border: 3px solid white;
    border-radius: 50%;

    opacity: 0;

    @media screen and ( max-width: 1280px ) {
        top: 35px;
        right: 35px;

        width: 35px;
        height: 35px;

        font-size: 17px;
        line-height: 32px;

        border: 2px solid white;
    }
}